<h1>Pages#Simple HSMRs</h1>

<%= #render "gvischart" 
%>

<%= render "gimgchart" 
%>

						

<table cellpadding="2">
	<tr>
		<th>code</th>
		<th>hospital</th>
		<th>observed</th>
		<th>expected</th>
		<th>relative risk</th>
		<th>95% low</th>
		<th>95% high</th>
		<th>P low</th>
		<th>P high</th>
	</tr>
	<% @hsmrtable.each_with_index { |row, index| %>
	<tr id="<%= index %>">
		<td><%= row.code %></td>
		<td><%= row.name %></td>
		<td><%= row.observed %></td>
		<td><%= row.expected %></td>
		<td><%= row.risk %></td>
		<td><%= row.blcl%></td>
		<td><%= row.bucl%></td>
		<td><%= row.plcl%></td>
		<td><%= row.pucl%></td>		
	</tr>
	<% } %>
</table>




